service: serverless-employee

provider:
  name: aws
  runtime: nodejs12.x
  environment:
    NODE_ENV: dev

plugins:
  - serverless-plugin-typescript
  - serverless-offline

package:
  exclude:
    - config/.env.stg
    - config/.env.pro
  include:
    - config/.env.dev

functions:
  create:
    handler: app/handler.create
    events:
      - http:
          path: employee
          method: post
  update:
    handler: app/handler.update
    events:
      - http:
          path: employee/{id}
          method: put
  find:
    handler: app/handler.find
    events:
      - http:
          path: employee
          method: get
  findOne:
    handler: app/handler.findOne
    events:
      - http:
          path: employee/{id}
          method: get

  deleteOne:
    handler: app/handler.deleteOne
    events:
      - http:
          path: employee/{id}
          method: delete
